<!--
<H1>Welcome to Angular 16</H1>
<app-login></app-login>
<app-a></app-a>
<app-b></app-b>
<app-c></app-c>

<h2>{{courseName}}</h2>
<h2>{{test()}}</h2>
<h2 style.color="{{mycolor}}">{{addition(10,20)}}</h2>

<p>{{user.name}}</p>
<p>{{user.city}}</p>
<p>{{user.email}}</p>
<table border="2px">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Email</th>
        </tr>
        <tr *ngFor="let user of userList">
            <td>{{user.name}}</td>
            <td>{{user.city}}</td>
            <td>{{user.email}}</td>
        </tr>
    </thead>

</table>
<hr>



<app-property-binding-example></app-property-binding-example>
<app-event-binding-example></app-event-binding-example>

<app-attribute-binding-example></app-attribute-binding-example>
<app-two-way-data-binding-example></app-two-way-data-binding-example>
<app-directive-example></app-directive-example>
-->


<app-primary></app-primary>