    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/">Angular 16</a>
       
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/about">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/service">Our Services</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" routerLink="/products">Products</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" routerLink="/pipes">Pipes Example </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/signup">signup </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/register">Registration </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/userlist">User List </a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="products" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Company
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" routerLink="/products/about">About Us</a>
                  <a class="dropdown-item" routerLink="/products/service">Services</a>
                 
                </div>
              </li>
          
        </ul>
        
        </div>
    </nav>

    
<router-outlet></router-outlet> 
   