<p>{{dateObj}}</p>
<p>{{dateObj | date:'medium'}}</p>
<p>{{dateObj | date:'longDate'}}</p>
<p>{{dateObj | date:'shortDate'}}</p>
<p>{{dateObj | date:'dd-MM-y'}}</p>
<p>{{dateObj | date:'dd-MM-yy HH:mm:SS'}}</p>
<p>{{title  | uppercase}}</p>
<p>{{title  | lowercase}}</p>
<p>{{dateObj  | date | uppercase}} </p>
<p>{{title | slice:0:7 }}</p>
<p>{{num | number}}</p>
<p>{{num | number:'3.1-2'}}</p>
<p>{{num | number:'7.1-5'}}</p>
<p>{{per | percent}}</p>
<p>{{per | percent:'1.2-2'}}</p>
<p>{{cur}}</p>
<p>{{cur | currency}}</p>
<p>{{cur | currency:'INR':true:'4.2-2'}}</p>