<button (click)="clickMe()">Click Here</button>
<p>{{clickCount}}</p>

angular:<input type="checkbox" value="angular" (change)="test($event)">
react:<input type="checkbox" value="react" (change)="test($event)">

<br>
Name:<input type="text" (input)="getText($event)">
<p>{{name}}</p>


<div [className]="'mycssclass mycssclass1'">
    this is a sample div
</div>


<div [style.background-color]="'bgColor'"  [style.color]="'color'" [style.border]="'5px solid blue'">
    this is a sample div
</div>

